    <?xml version="1.0"?>
    <config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
        <menu>
          <add id="Picstore_ExampleAdminNewPage::greetings" title="Greetings" translate="title" module="Picstore_ExampleAdminNewPage" parent="Magento_Backend::content" sortOrder="50" dependsOnModule="Picstore_ExampleAdminNewPage" resource="Picstore_ExampleAdminNewPage::greetings"/>
          <add id="Picstore_ExampleAdminNewPage::greetings_helloworld" title="Hello World" translate="title" module="Picstore_ExampleAdminNewPage" parent="Picstore_ExampleAdminNewPage::greetings" sortOrder="10" dependsOnModule="Picstore_ExampleAdminNewPage" action="exampleadminnewpage/helloworld" resource="Picstore_ExampleAdminNewPage::greetings"/>
        </menu>
    </config>
